
<div class="flex-color-view">
    <div id="c1">background-color: rgb(247, 136, 164);
</div>
    <div id="c2">background-color: #FDE74C;
</div>
    <div id="c3">background-color: #FF3366;</div>
    <div id="c4">background-color: #00CCCC;</div>
    <div id="c5">background-color: #F2A100;</div>
</div>