<div class="create-trip-form-background">
    <div class="column-flex">
        <header>
            <h1 class="logo-top">Trippy</h1>
        </header>

        <main class="create-trip-content">
            <h2>Start creating your trip here!</h2>
            <form class="form-style-1" action="/create_trip" method="post">
                <input type="text" name="trip_name">
                <h4>Name your trip!</h4>
                <input type="date" name="start_date"><br>

                <input id="checkbox" type="checkbox" name="end_date">
                <label class="form-labels">No plans yet!</label>
                <h4>When do you leave?</h4>
                <input type="date" name="end_date"><br>
                <input id="checkbox" type="checkbox" name="end_date">
                <label class="form-labels">No plans yet!</label>
                <h4>When do you come home?</h4>
                <input type="text" name="buddy_email"><br>
                <input id="checkbox" type="checkbox" name="end_date">
                <label class="form-labels">Me, myself and I.</label>
                <h4>Any travel buddies?</h4>
                <input type="text" name="trip_description">
                <h4>Add a trip description!</h4>
                <button class="link-style-1-button small-font">Hooray! Let's Plan</button>
            </form>

        </main>
    </div>
<div>