<div class="home-background">
    <header>
        <div id="mySidenav" class="sidenav">
            <h2>Hi Kaitlin!</h2>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/schedule_view">Schedule view</a>
            <a href="/day_view">Daily view</a>
            <a href="/calendar_view">Calendar view</a>
            <a href="/edit_trip">Edit Trip</a>
            <a href="/log_out">Logout</a>
        </div>

        <div class="flex-header">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            <h1 class="logo-top">Trippy</h1>
        </div>
    </header>
    
    <div class="home-main-flex">
        <div class="upcoming-trip-flex">
            <h2>Upcoming trip!</h2>
            <a href="/current_trip_details">
            <div class="current-trip">
                <h3>European Adventure!!! :D :D :D </h3>
                <h4>Starts in 22 days!</h4>
            </div></a>
            <a class="trip-link" href="/trip_details">View Trip Details</a>
        </div>


        <h2 id="past-trip-header">Past Trips</h2>
        <div class="past-trip-flex">
        <a href="/past_trip_details">
            <div class="past-trip">
                <h3>European Adventure!!! :D :D :D </h3>
                <h4>Starts in 22 days!</h4>
            </div></a>
            <a class="trip-link" href="/trip_details">View Trip Details</a>
        </div>






    </div>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "70vw";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>