
<div class="hero-image">
    <div class="sheer-color">
        <header>
            <h1 class="large-logo-centered">Trippy</h1>
        </header>

        <section class="content index-flex" id="index">
                <h4>Welcome to Trippy!</h4>
                <p>Trippy will help you plan and manage your trip. Organise your travels before you leave, keep track of where you are going during your trip, and invite your friends along for the ride. Travel worry free with Trippy and enjoy every single moment!</p>
                <div class="links-box">
                <a href="/sign_up" class="link-style-1">Sign Up</a>
                <a href="/login" class="link-style-1">Log In</a>
                </div>

        </section>
    </div>
</div>