<div class="orange-background">
<header>
    <h1 class="logo-top">Trippy</h1>
</header>

<main class="lets-go-content">
    
<h2>Welcome <%= @user["first_name"]%>!</h2>
<p>Ready to create your first trip?</p>

<a class="link-style-2" href="/create_trip">Yes!</a>
<a class="link-style-1 small-font" href="/home">I want to explore first!</a>

</main>

<div>